:root {
    --rows: 1
    --gap: 1em;
}

.basic-grid-12 {
    display:grid;
    grid-template-rows: repeat(var(--rows),auto);
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--gap);
}

.basic-grid-8 {
    display:grid;
    grid-template-rows: repeat(var(--rows),auto);
    grid-template-columns: repeat(8,1fr);
    grid-gap: var(--gap);
}

.basic-grid-6 {
    display:grid;
    grid-template-rows: repeat(var(--rows),auto);
    grid-template-columns: repeat(6,1fr);
    grid-gap: var(--gap);
}

.basic-grid-4 {
    display:grid;
    grid-template-rows: repeat(var(--rows),auto);
    grid-template-columns: repeat(4,1fr);
    grid-gap: var(--gap);
}

.basic-grid-3 {
    display:grid;
    grid-template-rows: repeat(var(--rows),auto);
    grid-template-columns: repeat(3,1fr);
    grid-gap: var(--gap);
}

.basic-grid-2 {
    display:grid;
    grid-template-rows: repeat(var(--rows),auto);
    grid-template-columns: repeat(2,1fr);
    grid-gap: var(--gap);
}




.start-col-1 { grid-column-start: 1;}
.start-col-2 { grid-column-start: 2;}
.start-col-3 { grid-column-start: 3;}
.start-col-4 { grid-column-start: 4;}
.start-col-5 { grid-column-start: 5;}
.start-col-6 { grid-column-start: 6;}
.start-col-7 { grid-column-start: 7;}
.start-col-8 { grid-column-start: 8;}
.start-col-9 { grid-column-start: 9;}
.start-col-10 { grid-column-start: 10;}
.start-col-11 { grid-column-start: 11;}
.start-col-12 { grid-column-start: 12;}

.col-span-1 { grid-column: span 1;}
.col-span-2 { grid-column: span 2;}
.col-span-3 { grid-column: span 3;}
.col-span-4 { grid-column: span 4;}
.col-span-5 { grid-column: span 5;}
.col-span-6 { grid-column: span 6;}
.col-span-7 { grid-column: span 7;}
.col-span-8 { grid-column: span 8;}
.col-span-9 { grid-column: span 9;}
.col-span-10 { grid-column: span 10;}
.col-span-11 { grid-column: span 11;}
.col-span-12 { grid-column: span 12;}
