
.text_item {
  padding: 1rem;
}

.img_item {
    margin: 1rem;
  min-height: 15rem;
  background-position: center;
  width:100%;
  margin-bottom: 2rem;
}

.img_box {
  min-height: 15rem;
  border-radius: 12.5% 12.5%;
}

.row2 {  
  display: flex;
  flex-wrap: wrap;
}  


@media screen and (min-width: 768px) {
  .text_item { 
    width: 50%; 
    padding: 2.5rem; 
    font-size: 1.25rem;

    display:flex;
    justify-content: center;
    align-items: center;
  }
  .img_item { 
    margin: 0rem; 
    width: 50%; 
    padding: 2.5rem; 
    min-height: 31rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .floworder_odd { flex-direction: row; }
  .floworder_even { flex-direction: row-reverse; }
  .img_box {
    width: 90vmin;
    border-radius: 25%;
    max-width: 25rem;
  }
  .img_box:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}   

.img_aboutme {
    background-image: url("/img/photos/reggio_emilia.webp");
    background-size: cover;
    background-position: center;
}

.img_oracledba {
    background-image: url("/img/photos/data.webp");
    background-size: cover;
    background-position: center;
}

.img_polydev {
    background-image: url("/img/photos/code.webp");
    background-size: cover;
    background-position: center;
}

.img_misc {
    background-image: url("/img/photos/misc.webp");
    background-size: cover;
    background-position: center;
}


  