.text_item {
  padding: 1rem;
}

.img_item {
  min-height: 31rem;
  background-color: var(--accent2-light);
  background-position: center;
  
}

@media screen and (min-width: 768px) {
  .text_item, .img_item { width: 50%; padding: 2.5rem; }
  .floworder_odd { flex-direction: row; }
  .floworder_even { flex-direction: row-reverse; }
}    