@media screen and (max-width: 800px) {
    html {
        font-size:16px;
    }    
    .row {   
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right:auto;
        border-left: 0px solid var(--accent-lighter);        
        border-right: 0px solid var(--accent-lighter);        
    }
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.2em;
    }
    #glue {
    display:none;
    }
    
    .side {
        text-align:left;
        background-color: var(--accent);
        color: white;
    }

    .side H4, .side H2, .side H3, .side H5 {
        color: var(--negative-text);
    }

    span.tech {
        background-color: var(--accent-dark);
        border: 1px solid var(--accent-dark);
        color: var(--negative-text);
    }

    .main {
        order:1;
    }
    .side {
        order:4;
    }
    .sez-tecnologie {
        border-top: 3px solid var(--accent-dark);
    }

    .header H1 {
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
        line-height: 3rem;
        text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
    }
    
    .header H3 {
        text-align: center;
        color: #DDD;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
    }    
    
    
    .contact-container {
        min-width: 99%;
        max-width: 800px;
        margin: 0 auto;
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 1.5em;
    }

    .commercial-contacts {
        grid-row: 1;
        grid-column: 2 / span 10;
        text-align: center;
    }

    .online-contacts {
        grid-row: 2;
        grid-column: 2 / span 10;
        text-align: center;
    } 
    
    .commercial-contacts P {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    
    div.online-contacts ul {
        padding: 0px;
    }
    
    div.online-contacts ul li {
        list-style-type: none;
        margin:0px;
        padding: 0px;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    #hamburgerbox {
        display: block;
        width: 50px;
    }
    
    div.navbar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-end;
    }

    A.mnu_items {
        display:none;
        width: calc(100% - 50px);
        text-align: left;
        margin-left: auto;
    }
}
