@media screen and (max-width: 500px) {

    html {
        font-size:16px;
    }
    

    .chi, .come {
        font-size: 1.3em;
        font-weight: 700;
        color: var(--accent);
        width:100%;
        text-align: left;
        font-weight:bold;   
    }
    .chi {margin-bottom: 2pt;}
    .come {
        margin-bottom: 4pt;
    }
    .dove, .quando {
        display: block;
        text-align: right;
        width: 100%;
    }
    
    .contact-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "three" "two" "one" ;
    }
   

    .commercial-contacts {
        grid-row: 1;
        grid-column: 2 / span 10;
        text-align: center;
    }

    .online-contacts {
        grid-row: 2;
        grid-column: 2 / span 10;
        text-align: center;
    }     
}
