
:root {
    --text:#000000;
    --negative-text:#ffffff;
    
    --accent: #3F6FAD ;
    --accent-darker:#0B0C0C;
    --accent-dark:#28466d;
    --accent-light:#B89C87;
    --accent-lighter:#B4B5B1;

    --accent2: #0C5DB6 ;
    --accent2-darker:#0A213B;
    --accent2-dark:#124086;
    --accent2-light:#B89C87;
    --accent2-lighter:#ABACAF;
            
} 


* {
    box-sizing: border-box;
}

BODY,P,DIV,UL LI, OL LI, TD,TH {
    font-family: 'Newsreader';
    font-size: 18px;
    line-height: 1.7rem;
    margin: 0;
}

#main-container {
    background-color: #D8BCA7;
}
 
A { 
    color: var(--accent);
    font-weight: bold;
}

a:hover {
    color: var(--accent2-dark);
    font-weight: bold;    
}

P, DIV, UL LI, OL LI {
    font-size: 1rem;
    line-height: 1.72rem;
}

P {
    margin-bottom: 0.72rem;
}

H1,H2,H3,H4,H5, .chi,.come {
    font-family: 'Montserrat', sans-serif;
    color: var(--accent);
    letter-spacing: -1px;
    
}

H5 { font-size: 0.94rem; line-height: 1.61re,; margin-bottom: 2pt; margin-top: 4pt;}
H4 { font-size: 0.94rem; line-height: 1.61rem; margin-bottom: 4pt; margin-top: 6pt;}
H3 { font-size: 1.22rem; line-height: 2rem; margin-bottom: 4pt; margin-top: 12pt;}
H2 { font-size: 1.55rem; line-height: 2.5px; margin-bottom: 12pt; margin-top: 12pt;}

 
 
.header {
    padding: 60px;
    text-align: center;
    background: var(--accent-darker);
    color: white;
    background-image: url('/img/code_background-opaque.jpg');
    background-size: cover;
    background-position: center; /*centro*/
    border-bottom: 3px solid var(--accent);
    border-top: 1px solid var(--accent-dark);
}

.header H1 {
    color: white;
    font-size: 45px;
    line-height: 69px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
}

.header H3 {
    color: #DDD;
    font-size: 28px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
}

.flex-centerer {
    display: flex;
    justify-content: center;
}

.flex-centerer .photo {
    width: 11rem;
    height: 11rem;
    background-image: url('/img/photo.jpeg');    
    background-size: 100% auto;
    background-position-y: 20%;
    background-position-x: -8px;
    border-radius: 128px;
    margin-bottom:1rem;
    border: 4px solid var(--accent);
}
 
.navbar {
    display: flex;
    background-color: var(--accent-darker);
    color: yellow;
}

#glue {
flex-grow:1;
}

 
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

 
.navbar a:hover {
    background-color: var(--accent-lighter);
    color: black;
}

 
.row {  
    display: flex;
    flex-wrap: wrap;
}

 
 
.side {
    flex: 30%;
    color: var(--accent-dark);
    padding: 20px;
    text-align: right;
    background-color: var(--negative-text);
}

.side H4 {
    font-weight: 600;
    color: var(--accent);
    font-size: 1.1rem;
}

 
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

 
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

 
.footer {
    padding: 20px;
    text-align: center;
    background: var(--accent-dark);
    color: white;
}

.esperienza_riga {
    display: flex;
    flex-wrap:wrap;
}

.come, .dove {
    text-align:right;
    margin-left: auto;
}

.esperienza_riga > DIV {
    flex-grow: 1;
    min-width: 40%;
}


.chi, .come {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--accent);
    font-weight:bold;
    margin-bottom:1rem;
    
}

.dove, .quando {
    font-style: italic;
    color: var(--accent2-dark);
}

.tech-cloud {
    line-height: 19pt;
}

span.tech {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 4px;
    padding: 0px 3px;
    border: 1px solid var(--accent-lighter);
    margin-right: 0.2rem;
    display: inline;
    white-space:nowrap;
    letter-spacing: -1px;
    color:white;
    background-color: var(--accent-light);
}

@media screen and (min-width: 1367px) {
    .row {
        width: 1152px;
        margin-left: auto;
        margin-right:auto;
        border-left: 1px solid var(--accent-lighter);
        border-right: 1px solid var(--accent-lighter);
    }
}



@media screen and (max-width: 800px) {
    .row {   
    flex-direction: column;
    }
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.2em;
    }
    #glue {
    display:none;
    }
    
    .side {
        text-align:left;
        background-color: var(--accent);
        color: white;
    }

    .side H4, .side H2, .side H3, .side H5 {
        color: var(--negative-text);
    }

    span.tech {
        background-color: var(--accent-dark);
        border: 1px solid var(--accent-dark);
        color: var(--negative-text);
    }

    .main {
        order:1;
    }
    .side {
        order:4;
    }
    .sez-tecnologie {
        border-top: 3px solid var(--accent-dark);
    }

    .header H1 {
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
        line-height: 3rem;
        text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
    }
    
    .header H3 {
        text-align: center;
        color: #DDD;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
    }    
}

@media screen and (max-width: 500px) {
    
    BODY,P,DIV,UL LI, OL LI, TD,TH {
        font-size: 17px;
        line-height: 29px;
    }
    
    P, DIV, UL LI, OL LI {
        font-size: 17px;
        line-height: 29px;
    }
    
    H1,H2,H3,H4,H5, .chi,.come {
        font-family: 'Montserrat', sans-serif;
        color: var(--accent);
        letter-spacing: -1px;
    }
    
    H5 { font-size: 17px; line-height: 29px; margin-bottom: 2pt; margin-top: 4pt;}
    H4 { font-size: 17px; line-height: 29px; margin-bottom: 4pt; margin-top: 6pt;}
    H3 { font-size: 22px; line-height: 36px; margin-bottom: 4pt; margin-top: 12pt;}
    H2 { font-size: 28px; line-height: 45px; margin-bottom: 12pt; margin-top: 12pt;}
    
      

    .chi, .come {
        font-size: 1.3em;
        font-weight: 700;
        color: var(--accent);
        width:100%;
        text-align: left;
        font-weight:bold;   
    }
    .chi {margin-bottom: 2pt;}
    .come {
        margin-bottom: 4pt;
    }
    .dove, .quando {
        display: block;
        text-align: right;
        width: 100%;
    }
    


    
}
    