
:root {
    --text:#000000;
    --negative-text:#ffffff;
    
    --accent: #3F6FAD ;
    --accent-darker:#0B0C0C;
    --accent-dark:#28466d;
    --accent-light:#B89C87;
    --accent-lighter:#B4B5B1;

    --accent2: #0C5DB6 ;
    --accent2-darker:#0A213B;
    --accent2-dark:#124086;
    --accent2-light:#B89C87;
    --accent2-lighter:#ABACAF;
    
} 

html {
    font-size:18px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

BODY,P,DIV,UL LI, OL LI, TD,TH {
    font-family: 'Newsreader',serif;
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 0;
}

#main-container {
    /* background-color: #D8BCA7; */
}
 
A { 
    color: var(--accent);
    font-weight: bold;
}

a:hover {
    color: var(--accent2-dark);
    font-weight: bold;    
}

P, DIV, UL LI, OL LI {
    font-size: 1rem;
    line-height: 1.6rem;
}

P {
    margin-bottom: 0.3rem;
}

H1,H2,H3,H4,H5, .chi,.come {
    font-family: 'Montserrat', sans-serif;
    color: var(--accent);
    letter-spacing: -1px;
    
}

H5 { font-size: 0.94rem; line-height: 1.5rem,; margin-bottom: 0.2rem; margin-top: 0.2rem;}
H4 { font-size: 0.94rem; line-height: 1.5rem; margin-bottom: 0.2rem; margin-top: 0.7rem;}
H3 { font-size: 1.22rem; line-height: 2rem; margin-bottom: 0.2rem; margin-top: 1rem;}
H2 { font-size: 1.55rem; line-height: 2.5rem; margin-bottom: 0.35rem; margin-top: 1.15rem;}

 
 
.header {
    padding: 60px;
    text-align: center;
    background: var(--accent-darker);
    color: white;
    background-image: url('/img/code_background-opaque.jpg');
    background-size: cover;
    background-position: center; /*centro*/
    border-bottom: 3px solid var(--accent);
    border-top: 1px solid var(--accent-dark);
}


.header H1 {
    color: white;
    font-size: 45px;
    line-height: 69px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
}

.header H3 {
    color: #DDD;
    font-size: 28px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: #000 0px 0px 5px,#000 0px 0px 15px, #000 0px 0px 30px, #000 0px 0px 75px,  #000 0px 0px 120px;
}

.flex-centerer {
    display: flex;
    justify-content: center;
}

.flex-centerer .photo {
    width: 11rem;
    height: 11rem;
    background-image: url('/img/photo.jpeg');    
    background-size: 100% auto;
    background-position-y: 20%;
    background-position-x: -8px;
    border-radius: 128px;
    margin-bottom:1rem;
    border: 4px solid var(--accent);
}
 
.navbar {
    display: flex;
    background-color: var(--accent-darker);
    color: yellow;
}

.fixed {
    position:fixed;
    width: 100%;
    box-shadow: 0px 5px 20px var(--accent-light);
}


#glue {
flex-grow:1;
}

 
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

 
.navbar a:hover {
    background-color: var(--accent-lighter);
    color: black;
}

 
.row {  
    display: flex;
    flex-wrap: wrap;
    max-width: 1367px;
    margin: 0 auto;
}

 
 
.side {
    flex: 30%;
    color: var(--accent-dark);
    padding: 20px;
    text-align: right;
    background-color: var(--negative-text);
}

.side H4 {
    font-weight: 600;
    color: var(--accent);
    font-size: 1.1rem;
}

 
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

 
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

 
.footer {
    padding: 20px;
    text-align: center;
    background: var(--accent-dark);
    color: white;
}

.esperienza_riga {
    display: flex;
    flex-wrap:wrap;
}

.come, .dove {
    text-align:right;
    margin-left: auto;
}

.esperienza_riga > DIV {
    flex-grow: 1;
    min-width: 40%;
}


.chi, .come {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--accent);
    font-weight:bold;
    margin-bottom:1rem;
    
}

.dove, .quando {
    font-style: italic;
    color: var(--accent2-dark);
}

.tech-cloud {
    line-height: 19pt;
}

.blog-post {
    width: 100%;
    background-color: white;
    padding: 1em;
    font-size: 0.9em;
}

span.tech {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 4px;
    padding: 0px 3px;
    border: 1px solid var(--accent-lighter);
    margin-right: 0.2rem;
    display: inline;
    white-space:nowrap;
    letter-spacing: -1px;
    color:white;
    background-color: var(--accent-light);
}


.highlight PRE {
    overflow-x: scroll;
    font-size: 11pt;
    line-height: 110%;
}    

FOOTER {
    background-color: var(--accent2-darker);
    padding: 1em;
    color: var(--negative-text);
}

FOOTER A {
    color: var(--accent2-light);
}

FOOTER A:hover {
    color: var(--accent2-lighter);
}
  
  

.copyright-notice {
    background-color: var(--accent-light);
    color: var(--accent2-darker);
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
    font-size: 0.8rem;
    padding: 0.5em;
    text-align: center;
}

.commercial-contacts {
    grid-area: one;
}

.online-contacts {
    grid-area: two;
}

.blog-entries {
    grid-area: three;
}  

#hamburgerbox {
    display:none;
    
}






    
