@media screen and (min-width: 1367px) {
    html {
        font-size:18px;
    }

    .row2 {
        min-width: 1366px;
        width:85%;
        margin: 0 auto;
    }
    
    .contact-container {
        min-width: 1366px;
        width:85%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2,  auto);
        grid-gap: 1.5em;
        padding: 1em;
        padding-bottom: 2em;
    }

    .commercial-contacts {
        grid-row: 1;
        grid-column: 3 / span 3;
        text-align: center;
    }

    .online-contacts {
        grid-row: 1;
        grid-column: 8 / span 3;
        text-align: center;
    }    
    
    .commercial-contacts P {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    


    div.online-contacts ul {
        padding: 0px;
    }
    
    div.online-contacts ul li {
        list-style-type: none;
        margin:0px;
        padding: 0px;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    
      
}
